[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Werkzeug = "*"
SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
SQLAlchemy-serializer="*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
